body{background-image:url("https://cdn.pixabay.com/photo/2018/02/23/11/41/spring-background-3175322__340.jpg");
flex-direction:column;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350%;
}
main{
flex-direction:row;
flex:auto;
}
article{flex:2;
	margin:auto;
	width:500px;
}
aside{
flex:1;
}
article ,aside{
overflow-y:auto;
}

img{width:400px; height:400px;
}
ul {
  list-style-type: none;
  margin: 25;
  padding: 25;
  overflow: hidden;
  background-color:#006400;
  margin-top:25px;
}

li {
  float:left;
  padding-left:30px;
  padding-right:30px;
  font-weight:bold;
}

li, a {
  display: block;
  color: #000000;
  text-align: center;
  text-decoration: none;
}
.logo{
font-size: 25px;
font-family: Cursive,"Lucida Handwriting";
font-weight: bold;
}
footer{
margin:auto;
width:500px;
}
